<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Autenticarse</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input  [(ngModel)]="user" matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input  [(ngModel)]="password" matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        {{user}}
        <button mat-stroked-button color="accent" class="btn-block" (click)="btnClick('');">Ingresar</button>
      </form>
    </mat-card>
  </div>