<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/signin" routerLinkActive="active">signin</a></li>
    <li><a routerLink="/register" routerLinkActive="active">register</a></li>
    <li><a routerLink="/monitor" routerLinkActive="active">monitor</a></li>

  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>