
<!-- 
<mat-toolbar color="white" class="app-header">
    <a href="#" target="_blank" class="positronx">Monitor Cardiaco</a>
     <span class="nav-tool-items">
       <br>
       <br>
    </span> 
  </mat-toolbar>

  
<app-patient-list></app-patient-list>
 <router-outlet></router-outlet>
 -->

 <app-resume></app-resume>
 <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button>
 <div *ngIf="monitorChart">
     <canvas id="monitor"></canvas>

</div>
