<mat-card-content>


    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
        <div fxFlex="46%">
            <label for="fname"><b>Paciente: </b></label>
            <label for="fname"><b>{{patient}}</b></label> <br> <br>
            <!-- <textarea name="textarea" rows="3" cols="42" disabled>Alertas: {{type}}</textarea> -->
        </div>
        <div fxFlex="45%">
            <br>
            <br>
            <button mat-raised-button color="primary" class="btn-block" (click)="incidentsBtn();">Ver Incidentes</button>

        </div>
        <div fxFlex="1%">
            <br>
            <button mat-fab color="primary" class="btn-block" (click)="btnLogOut();">
                <mat-icon>home</mat-icon>
            </button>
        </div>

    </div>

    <div>
        <canvas id="monitor" style="border:1px solid; height: 700px; width: 100%;"></canvas>

    </div>

    <div class='container' align=center>
        <button mat-raised-button color="primary" class="btn-block" (click)="btnClick();">Regresar</button>
    </div>

</mat-card-content>